*{
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
/* Styling the Heading Content of the page  */
header{
    display: flex;
    width:90vw;
    height: 7vw;
    margin: 1% 3%;
    margin-bottom: 3%;
    /* border:1px solid red; */
    align-items: center;
    justify-content: space-between;
}
    /* Header Image styling  */
header > img{
    width:15%;
    height:100%;
}

/* Navigation Links */
#navigation{
    display: flex;
    height:40%; 
    width:35%;
    align-items: center;
    justify-content: space-between;
    color:black;
    background-color: antiquewhite;
    border-radius: 14px;
    margin: 3% 2%;
    overflow: hidden;
    box-shadow: 0 0 1rem 0.1em wheat;
}
#navigation > ul:nth-child(1){
    margin-left: 5%;
    list-style-type:none ;
}
#navigation ul>a{
    text-decoration: none;
    color:black;
    font-weight: bolder;
    font-size: 80%;
}

/* While Mouse over the Links Styling  */
#navigation ul>a:hover{
    color:red;
}
#navigation ul:nth-child(2n){
    list-style-type:none ;
    display: flex;
    width:25%;
    margin-right: 5%;
    justify-content: space-between;
}



.container{
    width:94vw;
    height: 62vh;
    margin:auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.container > img{
    width:30%;
    margin-left: 1%;
    border-radius: 14px;
    box-shadow: 0 0 0.5rem 0.1rem black;
}

#meal_Container{
    border-radius: 14px;
    height:95%;
    min-width:67%;
    margin-left: 1%;
    box-shadow: 0 0 0.5rem 0.1rem black;
    overflow: hidden;
}
#meal_Container > h1{
    border-bottom: 1px solid orange;
    background-color: burlywood;
    color:white;
    margin-bottom: 1%;
    text-align: center;
}
.ingredients{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:90%;
    margin:0 1%;
    height:92%;
}

.ingredients>label{
    display: inline-block;
    margin: 5% 10%;
    opacity: 0.5;
    font-weight: bolder;
}

.ingredients > div{
    display: flex;
    flex-direction: column;
    height: 12%;
    width:54.5%;
    border-radius: 14px;
    margin-bottom: 1%;
    flex-wrap: wrap;
}
.ingredients > div:hover{
    background-color: wheat;
}
.ingredients>div span{
    margin:1% 2%;
    height: 100%;
    font-size: 13px;
    align-self: flex-start;
}

.ingredients>div p{
    margin:1% 2%;
    height: 100%;
    width:32%;
}
.ingredients>div p::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: " \f00c ";
}

.procedure{
    width:90%;
    margin:5% auto;
    border-radius: 14px;
    box-shadow: 0 0 0.5rem 0.1rem black;
    
}
.procedure > h2{
    background-color: burlywood;
    color:white;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius:14px;
    margin:0 4%;
    text-align: center;
}
#procedure_Container{
    width:85%;
    margin:auto;
}
#procedure_Container > div{
    position: relative;
    margin:2% auto;
    z-index: 1;
}
.steps{
    position: absolute;
    top:-9px;
    left:-5%;
    z-index: 2;
    color:green;
    width:8%;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 0 0.3rem 0.1rem black;
    font-weight: bolder;
}

.para{
    padding:2%;
    margin:0 3%;
    border-top:1px solid black;
    font-weight: bolder;
}


