
/* Setting the Font family to Every Element */
*{
    font-family: sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Setting the View port Height and width  */
body{
    overflow:hidden ;
    height: 95vh;
}

/* Styling the Heading Content of the page  */
header{
    display: flex;
    width:80vw;
    min-height: 100px;
    margin: 1% 3%;
    margin-bottom: 3%;
    justify-content: space-between;
}
    /* Header Image styling  */
header > img{
    width:170px;
    height:110%;
}

/* Navigation Links */
#navigation{
    display: flex;
    width:50%;
    /* flex-grow: 1; */
    height:35px;
    /* max-height: 40%;  */
    align-items: center;
    justify-content: space-between;
    color:black;
    background-color: antiquewhite;
    border-radius: 14px;
    margin: 3% 2%;
    overflow: hidden;
    box-shadow: 0 0 1rem 0.1em wheat;
}
#navigation > ul:nth-child(1){
    padding-left: 5%;
    display: flex;
    width:40%;
    justify-content: space-between;
    list-style-type:none ;
}
#navigation > ul:nth-child(2n){
    list-style-type:none ;
    display: flex;
    width:30%;
    margin-right: 5%;
    justify-content: space-between;
}

#navigation ul>a,.Sugg_result > a {
    text-decoration: none;
    color:black;
    font-weight: bolder;
    font-size: 80%;
}

/* While Mouse over the Links Styling  */
#navigation ul>a:hover{
    color:red;
}

.container{
    position: relative;
    width:98%;
    /* min-height: 50vh; */
    height: 88%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    
}

#food_Menu{
    display: flex;
    align-self: center;
    border-radius: 14px;
    width:66%;
    background-color: rgb(249, 245, 244);   
    justify-content: space-between;
    box-shadow: 0 0 0.4rem 0.1rem ;
    cursor: pointer;
}


#food_Menu , .suggestions{
   min-height:45px;
}
#food_Menu > i{
    height:100%;
    width:40px;
    text-align: center;
    padding-top: 15px;
    background-color: black;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    color:white;
}
#food_Menu input[type="search"]{
    background-color: inherit;
    border: transparent;
    outline: transparent;
    width:60%;
    flex-grow: 1;
    border-radius: 14px;
}


#food_Menu input{
    padding-left: 3%;
    font-size: 98%;
}

.suggestions::-webkit-scrollbar ,.recipe::-webkit-scrollbar ,.favourite::-webkit-scrollbar{
    display: none;
  }
.suggestions{
    margin:2% 0;
    width: 62.5%;
    margin-left: 20%;
    background-color: white;
    min-height: 5%;
    max-height: 78%;
    border-radius: 14px;
    overflow-y: scroll;
    display: none;
    background-color: antiquewhite;
    box-shadow: 0 0 0.7rem 0.1rem wheat;
}



/* Search Result */

    #search_Result{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-around;
        scroll-behavior: smooth;
        background-color: antiquewhite;
    }
    #search_Result {
        color:black;
        padding:0 2%;
        border-radius: 14px;
        /* height: 10%; */
    }  


.Sugg_result{
    position: relative;
    display: flex;
    flex-direction: column;
    width:32%;
    height:auto;
    margin: 1% 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 14px;
}
.Sugg_result:hover{
    box-shadow: 0 0 0.6rem 0.1rem black;
}
.Sugg_result:hover img{
    opacity: 0.65;
}

.Sugg_result > img{
    /* padding-top:3%; */
    width:93%;
    height:85%;
    margin:auto;
    border-radius: 14px;
    z-index: 0;
}

.Sugg_result > i{
    position: absolute;
    top:10%;
    right:10%;
    z-index: 1;
    color:white;
    
}
.Sugg_result > i:hover{
    color:red;
}
.Sugg_result > a>p{
    text-align: center;
}
.Sugg_result >p:hover{
    text-decoration: underline black solid;
}



.favourite{
    position: absolute;
    min-height: 40%;
    max-height:76%;
    width:185px;
    left:1%;
    top:11%;
    border-radius: 14px;
    box-shadow: 0 0 1rem 0.1rem wheat;
    overflow-y: scroll;
}
#favourite_Card{
   display: flex;
   justify-content: space-between;
   margin:5% 8%; 
}

.favourite_List{
    width:95%;
    margin:0 auto;
}
.favourite_Item_Card{
    display: flex;
    height:30px;
    justify-content: space-between;
    align-items: center;
    margin:4%;
    padding:2%;
}
.favourite_Item_Card > a{
    list-style-type: none;
    text-decoration: none;
    font-size: 85%;
    color:black;
    margin-left: 5%;
    opacity: 0.7;
   
}
.favourite_Item_Card > i{
    margin-right: 5%;
}
.favourite_Item_Card:hover{
    color:red;
    background-color: wheat;
    box-shadow: 0 0 0.5rem 0.1rem black;
    border-radius: 14px;
}
.favourite_Item_Card >a:hover{
    color:red;
}

@media screen and (max-width: 980px){
    header{
        width:90%;
    }
    #food_Menu{
        margin-left: 6%;   
    }
    .suggestions{
        margin-left: 25.5%;
    }
}
@media screen and (max-width: 800px){
  
    .suggestions{
        margin-top: 5%;
        height: 53%;
        width:90%;
        margin-left: 6%;
    }
    .favourite{
        /* position: relative; */
        top:unset;
        bottom:40px;
        width: 60%;
        left:20%;
        display: inline-block;
        min-height: 5%;
        max-height: 23%;
       
    }
    #navigation{
        width:65%;
    }
    
}

@media screen and (max-width: 800px){
    #navigation > ul:nth-child(1){
        width:48%;
    }
    #navigation > ul:nth-child(2){
        width:36%;
    }
}